@model AuctionSystem.Web.ViewModels.CategoryDetailViewModel
    <div class="col-md-6 px-4">
        <h1 class="displayfw-bolder">@Model.Category.Name</h1>
        <h1 class="displayfw-bolder">@Model.Category.Description</h1>
</div>


