<h2>Are you sure you want to delete this ?</h2>
<div class="row">
    <form method="post" style="width: fit-content;display: flex;">
        <button class="btn btn-primary">Yes</button>
    </form>
    <form method="get" action="/Auction/Index" style="display:contents">
        <button class="btn btn-danger">No</button>
    </form>
</div>
